<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Device and Asset Management</h2>
                </div>
                <div class="about-content">
                    <p>
                        Device and Asset Management is the primary function of Nova Vector Platform. It is
                        designed with the goal to enable you to connect any device or data source, and to monitor and
                        control them in a secure way.
                        <br>
                        <br>
                        The second equally important function of Nova Vector Platform is to enable tracking of human and
                        machine interaction and provide deeper insight into factory floor processes and production
                        planning.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="about-img">
                    <img src="{{site.baseurl}}/assets/img/features/feature-1.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="about-img">
                    <img src="{{site.baseurl}}/assets/img/features/feature-2.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Data Visualization</h2>
                </div>
                <div class="about-content">
                    <p>
                        When dealing with data on masive scale, the quality visualization module is a must.
                        Nova Vector Platform has built-in full feature module for data visualization which enable users
                        to get the knowledge on device behaviour at a glance.
                        <br>
                        <br>
                        Nova Vector Platform allows you to create and share custom dashboards with graphs, that can
                        visualize the data coming from multiple devices in real-time. The data can be compared against
                        pre defined KPIs.
                        The users can automate KPI tracking or export the data to CSV or Excel format or as PDF file.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Edge Computing</h2>
                </div>
                <div class="about-content">
                    <p>
                        Unpredictable network disruptions, latency and bandwidth limitations can bring lot of issues to
                        traditional enterprise computing paradigm built around centralized server architecture.
                        <br>
                        <br>
                        Nova Vector Platform provides integrated Edge Computing solution and management tools. We allow
                        you to move some of the data processing out of the data center, to the factory floor.
                        Once deployed, Nova Edge enables you to send only the results of that computing work at the edge
                        , such as real-time business insights, equipment maintenance predictions or other actionable
                        answers, back to the main data center for review and other human interactions.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="about-img">
                    <img src="{{site.baseurl}}/assets/img/features/feature-3.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="about-img">
                    <img src="{{site.baseurl}}/assets/img/features/feature-4.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Advanced Analytics & AI/ML</h2>
                </div>
                <div class="about-content">
                    <p>
                        Nova Vector Platform provides you with new data streams which need to be incorporated into
                        business decision making. Advanced Analytics can be used to forecast trends, events and
                        behaviours.
                        <br>
                        <br>
                        Nova Vector Advanced Analytics module helps you extract business value from data in motion in
                        the same way traditional analytics tools make use of data at rest.
                        With Advanced Analytics you can optimize maintenance planning.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>