
<!-- intro -->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="orange-text">Nova Vector <span class="black-text">is technology provider
                    <br>for the business solutions of the future.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="{{site.baseurl}}/assets/img/about/intro1.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
            <p class="grey-text">Nova Vector is an open-source solution compatible with various vendors, devices, and networks, making it highly versatile and adaptable to your IoT infrastructure.
             Whether you prefer cloud-based or on-premises deployments, Nova Vector offers the flexibility to meet your specific needs. </p>
            </div>
        </div>
    </div>
</section>
