
<!-- meeting -->
<section class="meeting">
    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-3 text-left">
                    <img src="{{site.baseurl}}/assets/img/meeting/purple.png" class="img-purple" id="img-purple-mini" alt="">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-center align-self-center">
                    <div class="meeting-text">
                        <div class="row">
                        <div class="offset-2 col-8 offset-lg-0 col-lg-8">
                            <h4 class="meeting-text-p">Get in touch with us now to receive expert assistance and ensure your system operates smoothly</h4>
                        </div>
                        <div class="col-12 col-lg-4">

                        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                        <a class="btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/novavector/30min'});return false;">Set Up a Meeting</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="offset-sm-4 col-sm-8 offset-md-4 col-md-8 offset-lg-0 col-lg-3 text-right">
                    <img src="{{site.baseurl}}/assets/img/meeting/black.png" class="img-black" id="img-black-mini" alt="">
                </div>
    </div>
    </div>
</section>