
<!-- paragraphs -->
<section class="paragraphs">
<div class="container-fluid">
        <div class="container-white">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 text-left">
                    <h3>Device and Asset Management</h3>
                    <p>Nova Vector's IoT technology improves device and asset management, promoting operational efficiency and reduced downtime.
                        <br>
                        <br>
                        Our IoT-based solutions offer real-time visibility and control over your infrastructure.
                        <br>
                        <br>
                        Streamline inventory tracking, monitor equipment health, and schedule proactive maintenance using our advanced system.
                        <br>
                        <br>
                        With Nova Vector, you can make data-driven decisions, optimize resource allocation, and increase productivity.
                        <br>
                    </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 text-right align-self-center">
                    <img src="{{site.baseurl}}/assets/img/paragraphs/homepageresized.png" class="img-fluid" id="img-border" alt="">
                </div>
            </div>
        </div>
        <div class="container-grey" style="background-color: #F7F6F6;">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 text-left align-self-center">
                        <img src="{{site.baseurl}}/assets/img/paragraphs/Production-lines.png" class="img-fluid" id="img-border" alt="">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 text-left">
                    <h3>Data Visualization</h3>
                    <p>  Nova Vector converts complex IoT data into comprehensible visualizations for actionable insights and well-informed decision-making.
                        <br>
                        <br>
                        Take full advantage of your IoT-generated data with our advanced visualization tools.
                        <br>
                        <br>
                        Uncover hidden patterns, correlations, and outliers through interactive charts and graphs.
                        <br>
                        <br>
                        Stay updated with live data streams, identify anomalies, and respond quickly using our dynamic visualizations.
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-white">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 text-left">
                    <h3>Edge Computing</h3>
                    <p>    Nova Vector offers advanced edge computing capabilities that enable real-time data processing, enhanced security, and faster decision-making.
                        <br>
                        <br>
                        Improve performance and resilience in distributed IoT environments with our edge computing solutions.
                        <br>
                        <br>
                        Manage edge devices seamlessly, distribute workloads effectively, and strengthen data privacy.
                        <br>
                        <br>
                        Nova Vector's edge computing solutions give you real-time insights, reduce data transmission, and optimize your IoT investments.
                        <br>
                    </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 text-right align-self-center">
                    <img src="{{site.baseurl}}/assets/img/paragraphs/graphnew.png" class="img-fluid" id="img-border" alt="">
                </div>
            </div>
        </div>
        <div class="container-grey" style="background-color: #F7F6F6;">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 text-left align-self-center">
                    <img src="{{site.baseurl}}/assets/img/paragraphs/aiml-1.png" class="img-fluid" id="img-border" alt="">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 text-left">
                    <h3>Advanced Analytics & AI/ML</h3>
                    <p>  Nova Vector equips businesses with advanced analytics and AI/ML capabilities, facilitating predictive and prescriptive analytics.
                        <br>
                        <br>
                        Use our analytics and AI/ML algorithms to gain valuable insights, identify anomalies, and refine operations.
                        <br>
                        <br>
                        Experience the benefits of automated anomaly detection, predictive maintenance, and efficient resource allocation.
                        <br>
                        <br>
                        Utilize predictive models and machine learning with Nova Vector to improve processes and foster business growth.
                        <br>
                    </p>
                </div>
            </div>
        </div>
</div>
</section>
