<section class="section-partners pt-50 mb-50">
    <div class="container">

            <div class="col-12 text-center">
            <h3>Our Partners</h3>
            </div>

        <br>
        <br>
        <ul class="brands">
            <li class="brands__item">
              <a href="#">
                <img  class="partners-logo-1" src="{{site.baseurl}}/assets/img/partners/galenika.png" alt="" />
              </a>
            </li>
            <li class="brands__item">
                <a href="#">
                    <img class="partners-logo-2" src="{{site.baseurl}}/assets/img/partners/bg_reklam.png">
                </a>
            </li>
            <li class="brands__item">
                <a href="#">
                    <img class="partners-logo-3" src="{{site.baseurl}}/assets/img/partners/klett.png">
                </a>
            </li>
            <li class="brands__item">
                <a href="#">
                    <img class="partners-logo-5" src="{{site.baseurl}}/assets/img/partners/yu_net.png">
                </a>
            </li>
            <li class="brands__item">
                <a href="#">
                    <img class="partners-logo-4" src="{{site.baseurl}}/assets/img/partners/business_garden.png">
                </a>
            </li>
          </ul>
        <div class="row">
            <br>
            <br>
        </div>
    </div>
</section>