<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/novavector-slider-1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Are you <br> prepared for <span>Industry 4.0?</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Nova Vector is cutting EDGE technology provider for the  business solutions of the future. 
                                We integrate your existing systems with advanced technologies and help you move your business forward</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/novavector-slider-2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Smart Contracts <br> and <span>Blockchain</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Blockchain and smart contracts are already revolutionizing various industries like healthcare,
                                 finance, supply chain management, insurance, transport, media, government and many more.</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/novavector-slider-3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Create business <br> value using <span>Advanced Analytics</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Machine Learning and Streaming Analytics allow organizations to set up real-time analytics computations on data  from applications, 
                                social media, sensors, devices, websites and more. </p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
