<section class="slider-area">
    <div class="slider-active" style="background-image:url({{site.baseurl}}/assets/img/slider/first_frame.png)">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/nv-video-v01.gif)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Are you <br> prepared for <span>Industry 4.0?</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Nova Vector is a technology provider for business solutions that integrates advanced technologies with your existing systems to help you move your business forward. We are committed to offering reliable and innovative solutions that meet your needs and help you stay ahead of the competition.</p>
                            <a href="/pages/solutions.html" class="btn" id="sliderbutton" data-animation="fadeInUp" data-delay=".6s">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>