
<!-- use-cases -->
<section class="use-cases">
    <div class="container">
    <div class="row">
        <div class="col-xl-12 text-center">
            <div class="section-title usecase-title">
                <h3>Solutions</h3>
                <p>Here are some of the use cases of the Nova Vector Industry 4.0 Platform.</p>
            </div>
            <br>
        </div>
        </div>
        <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-industry-new.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h4>Smart Industry</h4>
                    </div>
                    <div class="card-text" id="card-text-paragraph">
                        <p>Nova Vector connects systems with advanced tech for insights, maintenance, and improved efficiency.       </p>
                    </div>
                    <a href="{{site.baseurl}}/pages/smart-industry" class="btn">More details</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-education-new.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h4>Education</h4>
                    </div>
                    <div class="card-text" id="card-text-paragraph">
                        <p>Empowering education with IoT, fostering interactive learning, seamless management, insightful growth.
                        </p>
                    </div>
                    <a href="{{site.baseurl}}/pages/education" class="btn">More details</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-agriculture-new.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h4>Smart Agriculture</h4>
                    </div>
                    <div class="card-text" id="card-text-paragraph">
                        <p>Sensors, analytics, and automation enhance farming, optimizing operations for increased productivity.</p>
                    </div>
                    <a href="{{site.baseurl}}/pages/smart-agriculture" class="btn">More details</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-building-new.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h4>Smart Building</h4>
                    </div>
                    <div class="card-text" id="card-text-paragraph">
                        <p>Transforming spaces with IoT, enhancing comfort, reducing energy usage, and enabling efficient operations. </p>
                    </div>
                    <a href="{{site.baseurl}}/pages/smart-building" class="btn">More details</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/service-providers-new.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h4>Service Providers</h4>
                    </div>
                    <div class="card-text" id="card-text-paragraph">
                        <p>Empowering service providers with IoT solutions, ensuring connectivity, decisions, and great service.</p>
                    </div>
                    <a href="#" class="btn">Coming soon</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-retail-new.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h4>Smart Retail</h4>
                    </div>
                    <div class="card-text" id="card-text-paragraph">
                        <p>Reshaping retail with IoT tech, optimizing stock, personalizing experiences, and efficient supply chains.
                        </p>
                    </div>
                    <a href="#" class="btn">Coming soon</a>
                </div>
            </div>
        </div> 
        </div>
</div>
</section>
